
body{
    display: grid;
    
}
table{
    border: 1px solid black;
}
th
{
    border: 1px solid black;
}
td
{
    border: 1px solid black;
}
tr
{
    border: 1px solid black;
}
.f
{
    width: 20px;
    text-align: center;
}